*{
box-sizing:border-box;
margin:0;
padding:0;
font-family:Arial, Helvetica, sans-serif;
}

body{
margin:0;
font-family:Arial;
background:#020617;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.app{
width:100%;
max-width:900px;
height:100vh;
background:#0f172a;
position:relative;
overflow:hidden;
color:white;
display:flex;
flex-direction:column;
}

.menu{
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
height:100%;
gap:20px;
animation:menuFade 0.6s ease;
}

button{
padding:12px 25px;
background:#22c55e;
border:none;
border-radius:10px;
color:white;
font-size:16px;
cursor:pointer;
}

.game{
flex:1;
position:relative;
overflow:hidden;
}

.background{
position:absolute;
width:200%;
height:100%;
background:linear-gradient(#0ea5e9,#1e293b);
animation:scrollBg 6s linear infinite;
z-index:0;
}

@keyframes scrollBg{
0%{transform:translateX(0)}
100%{transform:translateX(-50%)}
}

.ball{
width:40px;
height:40px;
background:#22c55e;
border-radius:50%;
position:absolute;
left:120px;
transition:bottom 0.05s;
z-index:2;
}

.obstacle{
width:40px;
height:70px;
background:#ef4444;
position:absolute;
bottom:0;
border-radius:6px;
z-index:2;
}

.coin{
width:25px;
height:25px;
background:gold;
border-radius:50%;
position:absolute;
bottom:100px;
animation:coinSpin 1s linear infinite;
z-index:2;
}

@keyframes coinSpin{
0%{transform:rotate(0)}
100%{transform:rotate(360deg)}
}

.topbar{
display:flex;
justify-content:space-between;
padding:12px 20px;
font-size:18px;
z-index:2;
position:relative;
}

.gameover{
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
background:#020617;
padding:30px;
border-radius:12px;
text-align:center;
z-index:3;
}

.navbar{
height:60px;
display:flex;
justify-content:space-around;
align-items:center;
background:#1e293b;
}

.privacy{
padding:20px;
overflow:auto;
height:100%;
}

@keyframes menuFade{
0%{
opacity:0;
transform:scale(0.8);
}
100%{
opacity:1;
transform:scale(1);
}
}